﻿html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', serif;
}
.body-content{
    padding-left: 10px;
    padding-right:10px;
}

.useful-links {
    background-color: #ff006e;
    padding: 2px 2px 2px 2px;
    color: #ffffff;
    text-transform:uppercase;
}
.link-box {
    border: 1px solid #ff006e;
    padding: 2px 2px 2px 2px;
}

.code-title-background {
    background-color: #4334a4;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    font-weight: normal;
}

.note-title-background {
    background-color: #6dcc19;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    font-weight: normal;
}
.extra-title-background {
    background-color: #ff6a00;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    font-weight: normal;
}